<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Ana Sayfa</a>
    </li>
    
   
    <li>
      <a href="#services" onclick = $("#menu-close").click(); >Lezzetlerimiz</a>
    </li>
    <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >Bizden Fotoğraflar</a>
    </li>
     <li>
      <a href="#pakets" onclick = $("#menu-close").click(); >Paket Servis</a>
    </li>
    <li>
      <a href="#map" onclick = $("#menu-close").click(); >Ulaşım</a>
    </li>
    
    
  </ul>
</nav>
